{% extends 'base.html' %}

{% block title %} 
    {{ super() }}
    Bienvenido
{% endblock %}

{% block content %}
    <h1>Evaluation metrics</h1>
    <center>
        <img src="{{url_for('static', filename='images/Matriz_confusion.jpg')}}"
        alt="Hotel">
    </center>



    <h1>Clasification report</h1>
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col"> </th>
            <th scope="col">accuracy</th>
            <th scope="col">recall</th>
            <th scope="col">f1-score</th>
            <th scope="col">support</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Non-Canceled</th>
            <td>1.00</td>
            <td>1.00</td>
            <td>1.00</td>
            <td>14851</td>
          </tr>
          <tr>
            <th scope="row">Canceled</th>
            <td>1.00</td>
            <td>1.00</td>
            <td>1.00</td>
            <td>8929</td>
          </tr>
          <tr>
            <th scope="row">accuracy</th>
            <td></td>
            <td></td>
            <td>1.00</td>
            <td>23780</td>
          </tr>
          <tr>
            <th scope="row">macro avg</th>
            <td>1.00</td>
            <td>1.00</td>
            <td>1.00</td>
            <td>23780</td>
          </tr>
          <tr>
            <th scope="row">weighted avg</th>
            <td>1.00</td>
            <td>1.00</td>
            <td>1.00</td>
            <td>23780</td>
          </tr>
        </tbody>
      </table>
{% endblock %}