{% extends 'base.html' %}

{% block title %}
{{ super() }}
Bienvenido
{% endblock %}

{% block content %}
<h1>Metricas de eval</h1>
<ul>
  <center>
    <img src="{{url_for('static', filename='images/confusion.png')}}" style="max-width: 300px" alt="Hotel">
    <img src="{{url_for('static', filename='images/roc.png')}}" style="max-width: 300px" alt="Hotel">
  </center>
</ul>


<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col"> </th>
      <th scope="col">precision</th>
      <th scope="col">recall</th>
      <th scope="col">f1-score</th>
      <th scope="col">support</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Non-Canceled</th>
      <td>1.00</td>
      <td>1.00</td>
      <td>1.00</td>
      <td>14851</td>
    </tr>
    <tr>
      <th scope="row">Canceled</th>
      <td>1.00</td>
      <td>1.00</td>
      <td>1.00</td>
      <td>8929</td>
    </tr>
    <tr>
      <th scope="row">accuracy</th>
      <td></td>
      <td></td>
      <td>1.00</td>
      <td>23780</td>
    </tr>
    <tr>
      <th scope="row">macro avg</th>
      <td>1.00</td>
      <td>1.00</td>
      <td>1.00</td>
      <td>23780</td>
    </tr>
    <tr>
      <th scope="row">weighted avg</th>
      <td>1.00</td>
      <td>1.00</td>
      <td>1.00</td>
      <td>23780</td>
    </tr>
  </tbody>
</table>
{% endblock %}