<!-- <nav>
    <ul>
        <img src="{{url_for('static', filename='images/hotel1.jpg')}}" alt="Hotel">
        <li><a href="{{ url_for('index') }}">Ir a inicio</a></li>
        <li><a href="https://midiaenunosminutos.com/" target="_blank">Ir a mi blog</a></li>
    </ul>
</nav> -->

<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="{{url_for('metrics')}}">Métricas</a></li>
                <li><a href="https://www.kaggle.com/datasets/jessemostipak/hotel-booking-demand" target="_blank">Acerca del dataset</a></li>
            </ul>
        </div>
    </div>
</div>